/* 
variable list
*/

////////////
// -> color <-
//            background
$baseBkColor: #000;
$headerBkColor: #0c0c0c;
$footerBkColor: #df0c0c1c;
$boxShadowColor: #7a717169;
$headerSearchBkColor: #000000f5;
// $headerSearchBkColor: #abff74;

//            font
$primaryColor: #fc1717;
// $titleColor               : ;
// $textColor                : ;
// $headerFontColor          : ;
// $footerFontCOlor           : ;

//            border
$primaryBorderColor: #363636;

////////////////
// -> fontStyle <-
$baseFont: "Helvetica Neue", helvetica, arial, sans-serif;
$specialFont: "Roboto Condensed", sans-serif;
$Font: "Nanum Gothic", sans-serif;
$logoFont: "Russo One", sans-serif;

////////////////
// -> transitin <-
$changeTime: 0.2s;
