/* 
variable list
*/

// google fonts
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@400;700&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

////////////
// -> color <-
//background
$baseBkColor: #000;
$headerBkColor: #0c0c0c;
$footerBkColor: #3535351c;
$boxShadowColor: #00000069;
$headerSearchBkColor: #000000f5;

//font
$primaryColor: #fc1717;
$blueColor: rgb(225, 228, 255);

//border
$primaryBorderColor: #363636;

////////////////
// -> fontStyle <-
$baseFont: "Helvetica Neue", helvetica, arial, sans-serif;
$titleFont: "Jura", sans-serif;
$logoFont: "DotGothic16", sans-serif;

////////////////
// -> transitin <-
$changeTime: 0.2s;

////////////////
// -> Size <-
$pageHeading: 50px;

/////////////////
// レスポンシブ
$sm: 400px;
$md: 768px;
$lg: 1000px;
$xl: 1200px;
