@import "variable";
@import "mixin";

// google fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

body {
  width: 100%;
  background: $baseBkColor;
  color: white;
  font-family: $specialFont;
  margin: 0 auto;
}

#container {
  position: relative;
  height: 100%;
  padding: 60px 0 250px;
  width: 100%;
  min-height: 100vh;
}

main {
  max-width: 1500px;
  margin: 0 auto;
}

@import "./componentStyle/Header";
@import "./componentStyle/footer";
@import "./componentStyle/Home";
@import "./componentStyle/form";
@import "./componentStyle/Sign";
@import "./componentStyle/Movie";
@import "./componentStyle/slider";
@import "./buttonStyle/button";
@import "animation";
