/*
Footer style
*/

.footer {
  background-color: $footerBkColor;
  padding: 13px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;

  @include break($sm) {
    display: none;
  }

  // &__wrap {  }

  &__button {
    background-color: rgba(235, 146, 30, 0.192);
    padding: 20px;
    border: rgba(235, 146, 30, 0.829) 1px solid;
    border-radius: 50px;
    margin: 1em;
  }

  p {
    font-size: 10px;
    text-align: center;
  }
} //header
