/*
Header style
HeaderSearch style
*/

.header {
  background-color: $headerBkColor;
  border-bottom: $primaryBorderColor solid 0.5px;
  box-shadow: 0px 1px 2px $boxShadowColor;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;

  &__wrap {
    align-items: center;
    background-color: $headerBkColor;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0px 20px;
    @include break($md) {
      padding: 0px 10px;
      justify-content: space-between;
    }
  }

  &__logoWrap {
    align-items: center;
    display: grid;
    justify-content: center;
    user-select: none;

    &--logo {
      color: $primaryColor;
      font-family: $logoFont;
      font-size: 40px;
      font-weight: 700;
      padding: 0 0 0 19px;
      letter-spacing: 3px;

      @include break($md) {
        font-size: 20px;
        padding: 0 0 0 5px;
      }
    }
    //logo
  } //__logoWrap

  &__nav {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 0 0 0 auto;
    width: 19%;
    min-width: 320px;

    &--link {
      border-radius: 4px;
      color: $blueColor;
      font-size: 13px;
      padding: 0.4em 0.7em;
      position: relative;
      font-family: $logoFont;

      &:hover {
        background-color: #e7dada77;
        box-shadow: 0px 1px 10px #6e6e6ea6;
        transition: $changeTime;
      }

      &-userName {
        font-size: 5px;
        bottom: 5px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        // color: black;
      }
    }
    @include break($md) {
      display: none;
    }
  }

  &__nav--sp {
    background-color: $headerBkColor;
    bottom: 0;
    display: none;
    height: 45px;
    position: fixed;
    left: 0;
    width: 100%;

    @include break($md) {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
} //header

.HeaderSearch {
  position: absolute;
  left: 0;
  top: 58px;
  width: 100%;
  text-align: center;
  background-color: $headerSearchBkColor;
  box-shadow: 0px 0px 30px $boxShadowColor;
  border: $primaryBorderColor solid;
  z-index: 100;

  @include break($md) {
    top: 40px;
  }

  &__form {
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__label {
    display: inline-block;
    left: 2.2%;
    top: 56%;
    transform: translateY(-50%);
    position: absolute;
  }

  &__input {
    position: relative;
    color: white;
    padding: 0.8em 1.5em;
    text-align: left;
    width: 90%;

    &::placeholder {
      position: absolute;
      color: #ffffff96;
      transition: $changeTime;
      font-size: 15px;

      @include break($md) {
        font-size: 14px;
      }
    }

    &:focus::placeholder {
      transition: $changeTime;
      font-size: 90%;
      opacity: 0.5;
    }
  }

  &__icon {
    position: absolute;
    right: 2%;
    top: 56%;
    transform: translateY(-50%);
    &:active {
      opacity: 0.5;
    }
  }
} //HeaderSearch

.HeaderSearch__candidateList li {
  cursor: pointer;
  border-bottom: 0.1px solid rgba(238, 238, 238, 0.26);
  padding: 0.4em 2em;
  text-align: left;
  &:hover {
    background: rgb(131, 131, 131);
  }
}
