.SliderBackButton,
.SliderNextButton {
  display: inline-block;
  margin: 0 10px;

  .MuiSvgIcon-root {
    color: #5859b6;
    font-size: 27px;
  }
}

.SliderBackButton {
  &:active {
    transform: translateX(-1px);
  }
}

.SliderNextButton {
  &:active {
    transform: translateX(1px);
  }
}

.buttonOFF {
  opacity: 0.2;
}

.buttonON {
  opacity: 1;

  &:hover {
    color: #afa5caa4;
    text-shadow: 0px 0px 10px #dedef7c7;
  }
}

.conversion {
  border-radius: 2px;
  background: #25204b;
  box-shadow: inset 5px 5px 9px #0f0d1e, inset -5px -5px 9px #3b3378;
  border-radius: 2px;
  display: flex;
  height: 40px;
  perspective: 500px;
  position: relative;
  padding: 3px;
  transform-style: preserve-3d;
  width: 160px;

  &__wrap {
    border-radius: 8px;
    color: #bebebee0;
    display: inline-block;
    width: 49%;
  }

  &__label {
    font-size: 13px;
    line-height: 35px;
    position: relative;
    text-align: center;
    transition: 0.1s;
    width: 100%;
    text-shadow: 1px 1px 1px black;
    display: inline-block;
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + label {
    color: rgb(189, 219, 253);
    transform: translate3d(0px, 0px, 25px);
    transition: 0.1s;
    font-size: 14px;
    border-radius: 2px;
    background: linear-gradient(145deg, #24213b, #1f1c32);
    box-shadow: 1px 1px 1px #0e0c16, -1px -1px 1px #363258;
    text-shadow: 1px 0.9px 1px rgb(0, 0, 0);
  }
}

.MoreButton {
  &:hover {
    background-color: rgba(255, 255, 255, 0.116);
  }

  &:active {
    animation: vaiblation infinite 0.2s ease-in;
  }
}
