/*
  Sign style
*/

.Sign {
  align-items: center;
  background-color: rgba(158, 158, 158, 0.151);
  border-radius: 20px;
  display: grid;
  height: 100%;
  justify-content: center;
  margin: 65px auto 0 auto;
  max-width: 550px;
  min-width: 290px;

  @include break($sm) {
    margin: 35px auto 0 auto;
    width: 90%;
  }

  &__anonymous {
    text-align: right;
    padding: 0 0 10px;
    button {
      color: #585858;
      margin: 0 auto;
      font-size: 13px;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.tabBar {
  display: flex;
  width: 100%;

  &__tab {
    color: #585858;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    padding: 1em 2em;
    text-align: center;
    transition: $changeTime;
    width: 50%;
    @include break($sm) {
      font-size: 14px;
    }

    &::after {
      background-color: #8b8a8a2f;
      content: "";
      left: 0;
      height: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 50;
    }

    &:active.tabBar__tab::after {
      opacity: 1;
    }

    &:hover {
      text-shadow: 0px 0px 5px $boxShadowColor;
    }
  }
}
